# Rellenar NaN de variables categóricas

Usando dataset ../../Data/02ParaLimpiar/02desastres_paralimpiar.csv

## Criterio de borrado de columnas:
* Importante: En el caso de desastres naturales, a menos de que partiéramos de una situación 'apocalíptica', realmente no existe una cantidad sobredimensionada de eventos anuales.

Objetivos:

* Determinar con qué tipo de valores rellenar los faltantes
* Probar cómo responde dataset tras fillna de valores faltantes
* Cuidado con reindexar columnas por separadas

## Importar librerías

In [1]:
# pip install pyjanitor matplotlib missingno numpy pandas pyreadr seaborn session-info upsetplot

In [3]:
import missingno as msno
import numpy as np
import pandas as pd

## Cargar datos

In [6]:
df = pd.read_csv('../../Data/02ParaLimpiar/02desastres_paralimpiar.csv', encoding='utf-8', delimiter=';', engine='python')

# Verificar carga de dataset

##  Resumen básico shape, info

In [7]:
df.shape
# Resultado: 16636 filas y 50 columnas)

(16636, 27)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16636 entries, 0 to 16635
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dis No             16636 non-null  object
 1   Year               16636 non-null  int64
 2   Seq                16636 non-null  int64
 3   Disaster Subgroup  16636 non-null  object
 4   Disaster Type      16636 non-null  object
 5   Disaster Subtype   13313 non-null  object
 6   Country            16636 non-null  object
 7   ISO                16636 non-null  object
 8   Region             16636 non-null  object
 9   Continent          16636 non-null  object
 10  Location           14825 non-null  object
 11  Origin             4085 non-null   object
 12  Associated Dis     3593 non-null   object
 13  Associated Dis2    763 non-null    object
 14  OFDA Response      1716 non-null   object
 15  Appeal             2559 non-null   object
 16  Declaration        3343 non-null   object
 17  AID Contribution   776 non-null    float64
 18  Dis Mag Value      5064 non-null   float64
 19  Dis Mag Scale      15416 non-null  object
 20  Latitude           2775 non-null   object
 21  Longitude          2775 non-null   object
 22  Start Year         16636 non-null  int64
 23  Start Month        16241 non-null  float64
 24  End Year           16636 non-null  int64
 25  End Month          15936 non-null  float64
 26  CPI                16530 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 3.4+ MB

# Exploración de valores faltantes

## Tabulación de valores faltantes

In [11]:
df.isna()

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,ISO,Region,Continent,...,AID Contribution,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Start Year,Start Month,End Year,End Month,CPI
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,False,True,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,False,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16631,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,False,False,False,False,True
16632,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,False,False,False,False,True
16633,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,False,False,False,False,True
16634,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,False,False,False,False,True
16635,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,False,False,False,False,True

In [10]:
df.isna().sum()

Dis No                   0
Year                     0
Seq                      0
Disaster Subgroup        0
Disaster Type            0
Disaster Subtype      3323
Country                  0
ISO                      0
Region                   0
Continent                0
Location              1811
Origin               12551
Associated Dis       13043
Associated Dis2      15873
OFDA Response        14920
Appeal               14077
Declaration          13293
AID Contribution     15860
Dis Mag Value        11572
Dis Mag Scale         1220
Latitude             13861
Longitude            13861
Start Year               0
Start Month            395
End Year                 0
End Month              700
CPI                    106
dtype: int64

### Columnas categóricas con valores faltantes

In [17]:
# Columnas categóricas
df.select_dtypes(include=object).columns.to_list() # columns.to_list muestra solo los títulos de las cols

['Dis No',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'Country',
 'ISO',
 'Region',
 'Continent',
 'Location',
 'Origin',
 'Associated Dis',
 'Associated Dis2',
 'OFDA Response',
 'Appeal',
 'Declaration',
 'Dis Mag Scale',
 'Latitude',
 'Longitude',
 'CPI']

# Guardar dataset en csv

In [ ]:
df.to_csv('../../Data/02ParaLimpiar/02desastres_fillna.csv', index=False, sep=';', encoding='utf-8')

Dataset con valores rellenados y/o filas vacías borradas.