# DATASET DEFINITIVO

Cargar dataset : 01desastres_crudo_renamedcols.csv

Borrar las 24 columnas acordadas: criterios de utilidad para los principales desastres a estudiar

Crear nuevo dataset: 02desastres_definitivo.csv

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = pd.read_csv('../../Data/01CrudoNoEditar/01desastres_crudo_renamedcols.csv', encoding='utf-8', delimiter=';', engine='python')

In [34]:
df.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,Reconstruction Costs Adj,Insured Damages,Insured Damages Adj,Total Damages,Total Damages Adj,CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,843726.0,"2,963047785",NaN,NaN,NaN,NaN
3,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN
4,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN

In [35]:
df.shape

(16636, 50)

In [36]:
df.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'AID Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs', 'Reconstruction Costs Adj',
       'Insured Damages', 'Insured Damages Adj', 'Total Damages',
       'Total Damages Adj', 'CPI', 'Adm Level', 'Admin1 Code', 'Admin2 Code',
       'Geo Locations'],
      dtype='object')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16636 entries, 0 to 16635
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Dis No                    16636 non-null  object
 1   Year                      16636 non-null  int64
 2   Seq                       16636 non-null  int64
 3   Glide                     1736 non-null   object
 4   Disaster Group            16636 non-null  object
 5   Disaster Subgroup         16636 non-null  object
 6   Disaster Type             16636 non-null  object
 7   Disaster Subtype          13313 non-null  object
 8   Disaster Subsubtype       1117 non-null   object
 9   Event Name                3969 non-null   object
 10  Country                   16636 non-null  object
 11  ISO                       16636 non-null  object
 12  Region                    16636 non-null  object
 13  Continent                 16636 non-null  object
 14  Location                  14825 non-null  object
 15  Origin                    4085 non-null   object
 16  Associated Dis            3593 non-null   object
 17  Associated Dis2           763 non-null    object
 18  OFDA Response             1716 non-null   object
 19  Appeal                    2559 non-null   object
 20  Declaration               3343 non-null   object
 21  AID Contribution          776 non-null    float64
 22  Dis Mag Value             5064 non-null   float64
 23  Dis Mag Scale             15416 non-null  object
 24  Latitude                  2775 non-null   object
 25  Longitude                 2775 non-null   object
 26  Local Time                1156 non-null   object
 27  River Basin               1336 non-null   object
 28  Start Year                16636 non-null  int64
 29  Start Month               16241 non-null  float64
 30  Start Day                 13021 non-null  float64
 31  End Year                  16636 non-null  int64
 32  End Month                 15936 non-null  float64
 33  End Day                   13105 non-null  float64
 34  Total Deaths              11838 non-null  float64
 35  No Injured                4147 non-null   float64
 36  No Affected               9673 non-null   float64
 37  No Homeless               2470 non-null   float64
 38  Total Affected            12143 non-null  float64
 39  Reconstruction Costs      38 non-null     float64
 40  Reconstruction Costs Adj  36 non-null     float64
 41  Insured Damages           1109 non-null   float64
 42  Insured Damages Adj       1109 non-null   float64
 43  Total Damages             5384 non-null   float64
 44  Total Damages Adj         5366 non-null   float64
 45  CPI                       16530 non-null  object
 46  Adm Level                 8475 non-null   object
 47  Admin1 Code               5030 non-null   object
 48  Admin2 Code               4248 non-null   object
 49  Geo Locations             8475 non-null   object
dtypes: float64(17), int64(4), object(29)
memory usage: 6.3+ MB

In [38]:
df.drop(columns=['Glide', 'Disaster Group', 'Disaster Subsubtype', 'Event Name','Associated Dis2', 'OFDA Response', 'Appeal', 'Declaration', 'AID Contribution',
                  'Local Time', 'River Basin', 'No Injured', 'No Affected', 'No Homeless', 'Insured Damages', 'Reconstruction Costs', 'Reconstruction Costs Adj',
                'Insured Damages Adj', 'Total Damages','CPI', 'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'], inplace=True)

In [39]:
df.shape

(16636, 26)

In [40]:
df.columns

Index(['Dis No', 'Year', 'Seq', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Dis Mag Value', 'Dis Mag Scale',
       'Latitude', 'Longitude', 'Start Year', 'Start Month', 'Start Day',
       'End Year', 'End Month', 'End Day', 'Total Deaths', 'Total Affected',
       'Total Damages Adj'],
      dtype='object')

In [41]:
df.to_csv('../../Data/02ParaLimpiar/02desastres_definitivo.csv', index=False, sep=';', encoding='utf-8')

Falta el tratamiento de nulos en funciÃ³n de la necesidad de cada desastre