In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from geopy.geocoders import Nominatim
from time import sleep

In [2]:
df = pd.read_csv('../../Data/03Limpio/03desastreslimpio.csv')
df.head(14)

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,ISO,Region,Continent,...,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,Total Affected,Total Damages Adj
0,1900-9002-CPV,1900,9002,Climatological,Drought,Drought,Cabo Verde,CPV,Western Africa,Africa,...,NaN,1900,0,0,1900,0,0,11000,0,0
1,1900-9001-IND,1900,9001,Climatological,Drought,Drought,India,IND,Southern Asia,Asia,...,NaN,1900,0,0,1900,0,0,1250000,0,0
2,1902-0012-GTM,1902,12,Geophysical,Earthquake,Ground movement,Guatemala,GTM,Central America,Americas,...,-91,1902,4,18,1902,4,18,2000,0,843726
3,1902-0003-GTM,1902,3,Geophysical,Volcanic activity,Ash fall,Guatemala,GTM,Central America,Americas,...,NaN,1902,4,8,1902,4,8,1000,0,0
4,1902-0010-GTM,1902,10,Geophysical,Volcanic activity,Ash fall,Guatemala,GTM,Central America,Americas,...,NaN,1902,10,24,1902,10,24,6000,0,0
5,1903-0006-CAN,1903,6,Geophysical,Mass movement (dry),Rockfall,Canada,CAN,Northern America,Americas,...,NaN,1903,4,29,1903,4,29,76,23,0
6,1903-0012-COM,1903,12,Geophysical,Volcanic activity,Ash fall,Comoros (the),COM,Eastern Africa,Africa,...,NaN,1903,0,0,1903,0,0,17,0,0
7,1904-0003-BGD,1904,3,Meteorological,Storm,Tropical cyclone,Bangladesh,BGD,Southern Asia,Asia,...,NaN,1904,11,0,1904,11,0,0,0,0
8,1905-0005-CAN,1905,5,Geophysical,Mass movement (dry),Rockfall,Canada,CAN,Northern America,Americas,...,NaN,1905,8,13,1905,8,13,18,18,0
9,1905-0003-IND,1905,3,Geophysical,Earthquake,Ground movement,India,IND,Southern Asia,Asia,...,76.16,1905,4,4,1905,4,4,20000,0,812477
10,1906-0014-CHL,1906,14,Geophysical,Earthquake,Ground movement,Chile,CHL,South America,Americas,...,71.4,1906,8,16,1906,8,16,20000,0,3249907
11,1906-0002-COL,1906,2,Geophysical,Earthquake,Ground movement,Colombia,COL,South America,Americas,...,-78.46,1906,1,31,1906,1,31,400,0,0
12,1906-0023-BEL,1906,23,Hydrological,Flood,NaN,Belgium,BEL,Western Europe,Europe,...,NaN,1906,5,14,1906,5,14,6,0,0
13,1906-0024-BEL,1906,24,Hydrological,Flood,NaN,Belgium,BEL,Western Europe,Europe,...,NaN,1906,4,0,1906,4,0,0,0,0

In [3]:
filter = df['Disaster Type'] == 'Earthquake'

df_earthquake = df[filter]

df_earthquake.head()

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,ISO,Region,Continent,...,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,Total Affected,Total Damages Adj
2,1902-0012-GTM,1902,12,Geophysical,Earthquake,Ground movement,Guatemala,GTM,Central America,Americas,...,-91,1902,4,18,1902,4,18,2000,0,843726
9,1905-0003-IND,1905,3,Geophysical,Earthquake,Ground movement,India,IND,Southern Asia,Asia,...,76.16,1905,4,4,1905,4,4,20000,0,812477
10,1906-0014-CHL,1906,14,Geophysical,Earthquake,Ground movement,Chile,CHL,South America,Americas,...,71.4,1906,8,16,1906,8,16,20000,0,3249907
11,1906-0002-COL,1906,2,Geophysical,Earthquake,Ground movement,Colombia,COL,South America,Americas,...,-78.46,1906,1,31,1906,1,31,400,0,0
15,1907-0006-CHN,1907,6,Geophysical,Earthquake,Ground movement,China,CHN,Eastern Asia,Asia,...,69.9,1907,10,21,1907,10,21,12000,0,0

In [4]:
df_earthquake.shape

(1597, 26)

In [5]:
df_earthquake.isnull().sum()

Dis No                  0
Year                    0
Seq                     0
Disaster Subgroup       0
Disaster Type           0
Disaster Subtype        0
Country                 0
ISO                     0
Region                  0
Continent               0
Location               40
Origin               1576
Associated Dis       1255
Dis Mag Value           0
Dis Mag Scale           0
Latitude               50
Longitude              50
Start Year              0
Start Month             0
Start Day               0
End Year                0
End Month               0
End Day                 0
Total Deaths            0
Total Affected          0
Total Damages Adj       0
dtype: int64

In [6]:
df_earthquake[['Country','Latitude', 'Longitude']].head(50)

                      Country Latitude Longitude
2                   Guatemala       14       -91
9                       India    32.04     76.16
10                      Chile    33.05      71.4
11                   Colombia     1.51    -78.46
15                      China     38.5      69.9
21                     France    44.05      6.14
28                 Costa Rica      9.8       -84
29                    Algeria       36         4
37                  Indonesia   -3.924    101.82
42                      China       28       104
44                  Guatemala    14.38    -90.22
45                  Indonesia       -7       116
46                      China     23.5       117
53                      China   36.888   105.606
61                      Chile  -28.553   -70.755
68                      China   31.295    100.75
70                    Ecuador    -1.29    -78.52
71                  Indonesia    -7.21    109.56
74                      China   25.713   100.422
82                      Egypt  30.03 N   31.15 E
86                  Indonesia   -0.842   120.764
87                      China   37.645   102.489
93                   Bulgaria      NaN       NaN
94                     Canada  48.60 N   58.00 W
95                      Chile  35.28 S   71.40 W
98                     Greece  38.00 N   23.44 E
99                  Indonesia   8.30 S  121.70 E
118                 Indonesia      0.5       126
119                     China     31.9     103.4
128                 Indonesia      6.1      94.7
130                 Indonesia      3.5      97.5
134                 Indonesia   -0.557   118.881
135                     Chile  -36.305   -72.315
136                     Ghana    5.552    -0.628
147                     China      NaN       NaN
149                   Ecuador   -0.025   -79.955
151                     Chile  -31.432   -71.475
154                 Indonesia   -8.591   109.803
158                 Argentina  -31.372    68.436
164                     Chile    -26.5     -70.5
165  Dominican Republic (the)    19.25       -69
170                   Algeria    35.75         5
184                   Ecuador     -1.5     -78.2
185                     Chile      -38     -73.5
186                     Chile      -54       -71
193                     India     28.5      96.5
198                  Colombia      7.8     -72.5
213                     Haiti     18.3      73.2
216                     Chile  -37.093   -72.866
217                    Cyprus   34.741    32.335

In [7]:
df_earthquake[['Latitude', 'Longitude']].isnull().sum()

Latitude     50
Longitude    50
dtype: int64

In [8]:
filter = df_earthquake['Latitude'].isnull() | df_earthquake['Longitude'].isnull()

# Filtramos el dataframe para obtener solo las filas con valores nan en esas columnas
df_earthquake_nan= df_earthquake[filter]
df_earthquake_nan[['Longitude','Latitude','Location', 'Country']].head(50)

,Longitude,Latitude,Location,Country
93,NaN,NaN,Plovdiv,Bulgaria
147,NaN,NaN,"Southern China, Yunnan",China
282,NaN,NaN,NaN,Chile
720,NaN,NaN,Camaron area,Cuba
790,NaN,NaN,East Timor,Indonesia
865,NaN,NaN,NaN,Romania
935,NaN,NaN,NaN,Romania
965,NaN,NaN,NaN,Romania
1030,NaN,NaN,NaN,Romania
1031,NaN,NaN,NaN,Romania
1045,NaN,NaN,NaN,Iran (Islamic Republic of)
1106,NaN,NaN,Hawai,United States of America (the)
1213,NaN,NaN,"Onagawa, Honshu Island",Japan
1216,NaN,NaN,Hawaii,United States of America (the)
1229,NaN,NaN,Nationwide,Philippines (the)
1703,NaN,NaN,Friuli,Italy
1924,NaN,NaN,Beni (North Kivu province),Congo (the Democratic Republic of the)
2718,NaN,NaN,Ternate (Moluccas),Indonesia
2874,NaN,NaN,"Avellino, Potenza",Italy
3614,NaN,NaN,Taipai,Taiwan (Province of China)
3629,NaN,NaN,Eastern Venezuela,Venezuela (Bolivarian Republic of)
4046,NaN,NaN,Shufu area,China
4790,NaN,NaN,Moyo area,Uganda
7092,NaN,NaN,Kayseri,Turkey
7210,NaN,NaN,Marmaris,Turkey
13902,NaN,NaN,Yangbi (Yunnan province),China
13903,NaN,NaN,Xinjiang region,China
13938,NaN,NaN,"Huehuetenango, Quetzaltenango, Quiche, San Mar...",Guatemala
14183,NaN,NaN,Surigao city,Philippines (the)
14292,NaN,NaN,"Casamicciola Terme, Lacco Ameno (Ischia Isl.),...",Italy
14302,NaN,NaN,"Karamyk, Jekendi, Kara-Teyit, Chuluk, Shibee v...",Kyrgyzstan
14369,NaN,NaN,"Atsuma village, Abira, Sapporo (Hokkaido)",Japan
14719,NaN,NaN,Bodrum,Turkey
15020,NaN,NaN,Mila province,Algeria
15101,NaN,NaN,"Chuxiong Yi Autonomous Prefecture, Yunnan Prov...",China
15103,NaN,NaN,Jiangcheng Hani and Yi Autonomous County (Yunn...,China
15138,NaN,NaN,"Lijiang, Ninglang Yi, Yulong Naxi (Yunnan)",China
15269,NaN,NaN,Auvergne-Rhone-Alpes region,France
15635,NaN,NaN,Selayar Islands Regency (South Sulawesi Provin...,Indonesia
15660,NaN,NaN,"Esfahan, Kohgiluyeh and Boyer-Ahmad provinces",Iran (Islamic Republic of)
15711,NaN,NaN,Piura region,Peru
15738,NaN,NaN,Maluku Province,Indonesia
16146,NaN,NaN,Tadjikobod district (Douchanbe region),Tajikistan
16263,NaN,NaN,Ljubinje and Capljina,Bosnia and Herzegovina
16315,NaN,NaN,"Mentawai Islands Regency, (West Sumatra Province)",Indonesia
16327,NaN,NaN,Papua,Indonesia
16490,NaN,NaN,Lakki Marwat District (southern Khyber Pakhtun...,Pakistan
16586,NaN,NaN,Khoy City (West Azerbaijan Province),Iran (Islamic Republic of)
16611,NaN,NaN,Northwest,Syrian Arab Republic
16617,NaN,NaN,Yesilyurt District (Malatya province),Turkey

In [9]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="MozillaFirefox")

In [10]:
for i, row in df_earthquake_nan.iterrows():
    if pd.isnull(row['Location']):
        location = geolocator.geocode(row['Country'])
    else:
        location = geolocator.geocode(row['Location'])
    if location:
        df_earthquake_nan.loc[i, 'Latitude'] = location.latitude
        df_earthquake_nan.loc[i, 'Longitude'] = location.longitude
        sleep(2)

In [11]:
df_earthquake_nan[['Latitude', 'Longitude']].isnull().sum()

Latitude     14
Longitude    14
dtype: int64

In [12]:
df_earthquake_nan[['Longitude','Latitude','Location', 'Country']].head(50)

,Longitude,Latitude,Location,Country
93,24.74993,42.141854,Plovdiv,Bulgaria
147,100.849778,27.281937,"Southern China, Yunnan",China
282,-71.31877,-31.761336,NaN,Chile
720,-3.67614,40.438671,Camaron area,Cuba
790,126.063482,-8.744317,East Timor,Indonesia
865,24.685923,45.985213,NaN,Romania
935,24.685923,45.985213,NaN,Romania
965,24.685923,45.985213,NaN,Romania
1030,24.685923,45.985213,NaN,Romania
1031,24.685923,45.985213,NaN,Romania
1045,54.564352,32.647531,NaN,Iran (Islamic Republic of)
1106,-155.42837,19.593801,Hawai,United States of America (the)
1213,NaN,NaN,"Onagawa, Honshu Island",Japan
1216,-155.42837,19.593801,Hawaii,United States of America (the)
1229,-1.776962,51.538246,Nationwide,Philippines (the)
1703,-64.198345,-31.442787,Friuli,Italy
1924,NaN,NaN,Beni (North Kivu province),Congo (the Democratic Republic of the)
2718,126.00704,-3.269905,Ternate (Moluccas),Indonesia
2874,15.596681,41.088792,"Avellino, Potenza",Italy
3614,121.56368,25.03752,Taipai,Taiwan (Province of China)
3629,121.088394,14.644719,Eastern Venezuela,Venezuela (Bolivarian Republic of)
4046,NaN,NaN,Shufu area,China
4790,31.70809,3.669152,Moyo area,Uganda
7092,35.554637,38.658223,Kayseri,Turkey
7210,28.274266,36.852255,Marmaris,Turkey
13902,99.957079,25.673455,Yangbi (Yunnan province),China
13903,109.052,23.8672,Xinjiang region,China
13938,NaN,NaN,"Huehuetenango, Quetzaltenango, Quiche, San Mar...",Guatemala
14183,125.49357,9.790503,Surigao city,Philippines (the)
14292,NaN,NaN,"Casamicciola Terme, Lacco Ameno (Ischia Isl.),...",Italy
14302,NaN,NaN,"Karamyk, Jekendi, Kara-Teyit, Chuluk, Shibee v...",Kyrgyzstan
14369,NaN,NaN,"Atsuma village, Abira, Sapporo (Hokkaido)",Japan
14719,27.430651,37.034399,Bodrum,Turkey
15020,6.165216,36.250214,Mila province,Algeria
15101,101.704785,25.432036,"Chuxiong Yi Autonomous Prefecture, Yunnan Prov...",China
15103,101.861588,22.586893,Jiangcheng Hani and Yi Autonomous County (Yunn...,China
15138,NaN,NaN,"Lijiang, Ninglang Yi, Yulong Naxi (Yunnan)",China
15269,5.734425,45.173671,Auvergne-Rhone-Alpes region,France
15635,NaN,NaN,Selayar Islands Regency (South Sulawesi Provin...,Indonesia
15660,NaN,NaN,"Esfahan, Kohgiluyeh and Boyer-Ahmad provinces",Iran (Islamic Republic of)
15711,-80.626724,-5.197138,Piura region,Peru
15738,128.182613,-3.694344,Maluku Province,Indonesia
16146,NaN,NaN,Tadjikobod district (Douchanbe region),Tajikistan
16263,NaN,NaN,Ljubinje and Capljina,Bosnia and Herzegovina
16315,98.895005,-1.358782,"Mentawai Islands Regency, (West Sumatra Province)",Indonesia
16327,144.248908,-5.681607,Papua,Indonesia
16490,NaN,NaN,Lakki Marwat District (southern Khyber Pakhtun...,Pakistan
16586,44.95354,38.550434,Khoy City (West Azerbaijan Province),Iran (Islamic Republic of)
16611,10.386417,6.377525,Northwest,Syrian Arab Republic
16617,NaN,NaN,Yesilyurt District (Malatya province),Turkey

Búsqueda manual de los Nan que no se convierten con el código anterior

In [13]:
address = 'Honshu Island, Japan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

37.490012 139.8356621412412

In [14]:
address = 'Beni, North Kivu, Congo'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

0.47606519999999997 29.189300190040722

In [15]:
address = 'Shufu, China'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

39.3742218 75.859333

In [16]:
address = 'Huehuetenango, Guatemala'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

15.6634185 -91.5839796

In [17]:
address = 'Casamicciola Terme, Italy'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

40.7473561 13.9075118

In [18]:
address = 'Karamyk, Kyrgyzstan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

39.4886544 71.7951348

In [19]:
address = 'Sapporo hokkaido, Japan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

43.061936 141.3542924

In [20]:
address = 'Lijiang Yunnan, china'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

26.8595868 100.2249797

In [21]:
address = 'South Sulawesi, Indonesia'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

-3.6446718 119.9471906

In [22]:
address = 'Esfahan, Iran'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

32.6707877 51.6650002

In [23]:
address = 'Dushanbe region, Tajikistan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

38.0906775 70.0090908

In [24]:
address = 'Ljubinje, Bosnia Herzegovina'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

42.9509792 18.0897048

In [25]:
address = 'Lakki Marwat, Pakistan'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

32.6056744 70.9113526

In [26]:
address = 'yesilyurt, Turkey'
geolocator = Nominatim(user_agent='MozillaFirefox', timeout=10000)
location = geolocator.geocode(address)
print(location.latitude, location.longitude)

39.7460409 37.0437522

Búsqueda con código de los nan faltantes

In [27]:
def fill_lat_lon(row):
    if np.isnan(row['Latitude']) or np.isnan(row['Longitude']):
        location = geolocator.geocode(row['Country'])
        if location:
            row['Latitude'] = location.latitude
            row['Longitude'] = location.longitude
            sleep(1)
    return row

df_earthquake_fillnan = df_earthquake_nan.apply(fill_lat_lon, axis=1)
df_earthquake_fillnan.isnull().sum()

Dis No                0
Year                  0
Seq                   0
Disaster Subgroup     0
Disaster Type         0
Disaster Subtype      0
Country               0
ISO                   0
Region                0
Continent             0
Location              7
Origin               49
Associated Dis       45
Dis Mag Value         0
Dis Mag Scale         0
Latitude              0
Longitude             0
Start Year            0
Start Month           0
Start Day             0
End Year              0
End Month             0
End Day               0
Total Deaths          0
Total Affected        0
Total Damages Adj     0
dtype: int64

In [28]:
df_earthquake_fillnan[['Latitude', 'Longitude', 'Location', 'Country']].head(50)

,Latitude,Longitude,Location,Country
93,42.141854,24.749930,Plovdiv,Bulgaria
147,27.281937,100.849778,"Southern China, Yunnan",China
282,-31.761336,-71.318770,NaN,Chile
720,40.438671,-3.676140,Camaron area,Cuba
790,-8.744317,126.063482,East Timor,Indonesia
865,45.985213,24.685923,NaN,Romania
935,45.985213,24.685923,NaN,Romania
965,45.985213,24.685923,NaN,Romania
1030,45.985213,24.685923,NaN,Romania
1031,45.985213,24.685923,NaN,Romania
1045,32.647531,54.564352,NaN,Iran (Islamic Republic of)
1106,19.593801,-155.428370,Hawai,United States of America (the)
1213,36.574844,139.239418,"Onagawa, Honshu Island",Japan
1216,19.593801,-155.428370,Hawaii,United States of America (the)
1229,51.538246,-1.776962,Nationwide,Philippines (the)
1703,-31.442787,-64.198345,Friuli,Italy
1924,-2.981434,23.822264,Beni (North Kivu province),Congo (the Democratic Republic of the)
2718,-3.269905,126.007040,Ternate (Moluccas),Indonesia
2874,41.088792,15.596681,"Avellino, Potenza",Italy
3614,25.037520,121.563680,Taipai,Taiwan (Province of China)
3629,14.644719,121.088394,Eastern Venezuela,Venezuela (Bolivarian Republic of)
4046,35.000074,104.999927,Shufu area,China
4790,3.669152,31.708090,Moyo area,Uganda
7092,38.658223,35.554637,Kayseri,Turkey
7210,36.852255,28.274266,Marmaris,Turkey
13902,25.673455,99.957079,Yangbi (Yunnan province),China
13903,23.867200,109.052000,Xinjiang region,China
13938,15.585555,-90.345759,"Huehuetenango, Quetzaltenango, Quiche, San Mar...",Guatemala
14183,9.790503,125.493570,Surigao city,Philippines (the)
14292,42.638426,12.674297,"Casamicciola Terme, Lacco Ameno (Ischia Isl.),...",Italy
14302,41.508932,74.724091,"Karamyk, Jekendi, Kara-Teyit, Chuluk, Shibee v...",Kyrgyzstan
14369,36.574844,139.239418,"Atsuma village, Abira, Sapporo (Hokkaido)",Japan
14719,37.034399,27.430651,Bodrum,Turkey
15020,36.250214,6.165216,Mila province,Algeria
15101,25.432036,101.704785,"Chuxiong Yi Autonomous Prefecture, Yunnan Prov...",China
15103,22.586893,101.861588,Jiangcheng Hani and Yi Autonomous County (Yunn...,China
15138,35.000074,104.999927,"Lijiang, Ninglang Yi, Yulong Naxi (Yunnan)",China
15269,45.173671,5.734425,Auvergne-Rhone-Alpes region,France
15635,-2.483383,117.890285,Selayar Islands Regency (South Sulawesi Provin...,Indonesia
15660,32.647531,54.564352,"Esfahan, Kohgiluyeh and Boyer-Ahmad provinces",Iran (Islamic Republic of)
15711,-5.197138,-80.626724,Piura region,Peru
15738,-3.694344,128.182613,Maluku Province,Indonesia
16146,38.628173,70.815654,Tadjikobod district (Douchanbe region),Tajikistan
16263,44.305348,17.596147,Ljubinje and Capljina,Bosnia and Herzegovina
16315,-1.358782,98.895005,"Mentawai Islands Regency, (West Sumatra Province)",Indonesia
16327,-5.681607,144.248908,Papua,Indonesia
16490,30.330840,71.247499,Lakki Marwat District (southern Khyber Pakhtun...,Pakistan
16586,38.550434,44.953540,Khoy City (West Azerbaijan Province),Iran (Islamic Republic of)
16611,6.377525,10.386417,Northwest,Syrian Arab Republic
16617,38.959759,34.924965,Yesilyurt District (Malatya province),Turkey

Código para limpiar coordenadas con letras

In [29]:
def limpiar_valor(valor):
    if pd.isna(valor):
        return valor
    elif 'N' in valor or 'E' in valor:
        return valor.replace('N', '').replace('E', '')
    elif 'S' in valor or 'W' in valor:
        return '-' + valor.replace('S', '').replace('W', '')
    else:
        return valor
    
df_earthquake['Latitude'] = df_earthquake['Latitude'].apply(limpiar_valor)
df_earthquake['Longitude'] = df_earthquake['Longitude'].apply(limpiar_valor)

C:\Users\blanc\AppData\Local\Temp\ipykernel_13232\1236789326.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earthquake['Latitude'] = df_earthquake['Latitude'].apply(limpiar_valor)
C:\Users\blanc\AppData\Local\Temp\ipykernel_13232\1236789326.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earthquake['Longitude'] = df_earthquake['Longitude'].apply(limpiar_valor)

Visualización de coordenadas limpiadas por el código

Se han modificado bien los registros 82, 94, 95, 98, 99....

In [30]:
df_earthquake[['Latitude', 'Longitude', 'Country']].head(50)

    Latitude Longitude                   Country
2         14       -91                 Guatemala
9      32.04     76.16                     India
10     33.05      71.4                     Chile
11      1.51    -78.46                  Colombia
15      38.5      69.9                     China
21     44.05      6.14                    France
28       9.8       -84                Costa Rica
29        36         4                   Algeria
37    -3.924    101.82                 Indonesia
42        28       104                     China
44     14.38    -90.22                 Guatemala
45        -7       116                 Indonesia
46      23.5       117                     China
53    36.888   105.606                     China
61   -28.553   -70.755                     Chile
68    31.295    100.75                     China
70     -1.29    -78.52                   Ecuador
71     -7.21    109.56                 Indonesia
74    25.713   100.422                     China
82    30.03     31.15                      Egypt
86    -0.842   120.764                 Indonesia
87    37.645   102.489                     China
93       NaN       NaN                  Bulgaria
94    48.60    -58.00                     Canada
95   -35.28    -71.40                      Chile
98    38.00     23.44                     Greece
99    -8.30    121.70                  Indonesia
118      0.5       126                 Indonesia
119     31.9     103.4                     China
128      6.1      94.7                 Indonesia
130      3.5      97.5                 Indonesia
134   -0.557   118.881                 Indonesia
135  -36.305   -72.315                     Chile
136    5.552    -0.628                     Ghana
147      NaN       NaN                     China
149   -0.025   -79.955                   Ecuador
151  -31.432   -71.475                     Chile
154   -8.591   109.803                 Indonesia
158  -31.372    68.436                 Argentina
164    -26.5     -70.5                     Chile
165    19.25       -69  Dominican Republic (the)
170    35.75         5                   Algeria
184     -1.5     -78.2                   Ecuador
185      -38     -73.5                     Chile
186      -54       -71                     Chile
193     28.5      96.5                     India
198      7.8     -72.5                  Colombia
213     18.3      73.2                     Haiti
216  -37.093   -72.866                     Chile
217   34.741    32.335                    Cyprus

ERRORES LOCALIZADOS:
* Registro 10 de Chile: hay que cambiar los dos a negativo
* Registro 5781 de Irán: la longitud es E y figura W, así que hay que quitar el negativo