In [166]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from geopy.geocoders import Nominatim

### Cargar base de datos: 01_desastres_crudo_renamedcols.csv

In [167]:
df = pd.read_csv('../../Data/01CrudoNoEditar/01desastres_crudo_renamedcols.csv', delimiter=';', encoding='utf-8')
df.head(10)

C:\Users\blanc\AppData\Local\Temp\ipykernel_9316\927010457.py:1: DtypeWarning: Columns (18,24,25,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../Data/01CrudoNoEditar/01desastres_crudo_renamedcols.csv', delimiter=';', encoding='utf-8')

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,Reconstruction Costs Adj,Insured Damages,Insured Damages Adj,Total Damages,Total Damages Adj,CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,843726.0,"2,963047785",NaN,NaN,NaN,NaN
3,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN
4,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN
5,1903-0006-CAN,1903,6,NaN,Natural,Geophysical,Mass movement (dry),Rockfall,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"3,077011162",NaN,NaN,NaN,NaN
6,1903-0012-COM,1903,12,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Mount Karthala,...,NaN,NaN,NaN,NaN,NaN,"3,077011162",NaN,NaN,NaN,NaN
7,1904-0003-BGD,1904,3,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"3,077011162",NaN,NaN,NaN,NaN
8,1905-0005-CAN,1905,5,NaN,Natural,Geophysical,Mass movement (dry),Rockfall,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"3,077011162",NaN,NaN,NaN,NaN
9,1905-0003-IND,1905,3,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,812477.0,"3,077011162",NaN,NaN,NaN,NaN

## FILTRO

In [168]:
filter = df['Disaster Type'] == 'Earthquake'
df_earthquake = df[filter]

In [169]:
df_earthquake.head(2)

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,Reconstruction Costs Adj,Insured Damages,Insured Damages Adj,Total Damages,Total Damages Adj,CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,843726.0,"2,963047785",NaN,NaN,NaN,NaN
9,1905-0003-IND,1905,3,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,812477.0,"3,077011162",NaN,NaN,NaN,NaN

In [170]:
df_earthquake.shape

(1597, 50)

## AFECTADOS POR TERREMOTOS

In [171]:
affected = ['Total Deaths', 'No Injured', 'No Affected', 'No Homeless', 'Total Affected']
for column in affected:
    df_earthquake[column].sum()

In [172]:
df_earthquake['Total Deaths'].sum()

2398560.0

In [173]:
df_earthquake['No Injured'].sum()

2953193.0

In [174]:
df_earthquake['No Homeless'].sum()

25358345.0

In [175]:
df_earthquake['No Affected'].sum()

193147539.0

In [176]:
df_earthquake['Total Affected'].sum()

221459077.0

## Nulos

In [177]:
df_earthquake.isnull().sum()

Dis No                         0
Year                           0
Seq                            0
Glide                       1480
Disaster Group                 0
Disaster Subgroup              0
Disaster Type                  0
Disaster Subtype               0
Disaster Subsubtype         1597
Event Name                  1596
Country                        0
ISO                            0
Region                         0
Continent                      0
Location                      40
Origin                      1576
Associated Dis              1255
Associated Dis2             1558
OFDA Response               1395
Appeal                      1330
Declaration                 1311
AID Contribution            1482
Dis Mag Value                 89
Dis Mag Scale                  0
Latitude                      50
Longitude                     50
Local Time                   477
River Basin                 1591
Start Year                     0
Start Month                    2
Start Day                      3
End Year                       0
End Month                      2
End Day                        3
Total Deaths                 399
No Injured                   525
No Affected                  755
No Homeless                 1131
Total Affected               277
Reconstruction Costs        1584
Reconstruction Costs Adj    1586
Insured Damages             1497
Insured Damages Adj         1497
Total Damages                977
Total Damages Adj            980
CPI                           17
Adm Level                    969
Admin1 Code                 1407
Admin2 Code                 1127
Geo Locations                969
dtype: int64

In [178]:
df_earthquake['Country'].value_counts()

China                         203
Indonesia                     145
Iran (Islamic Republic of)    137
Turkey                        114
Japan                          70
                             ...
Turkmenistan                    1
Serbia Montenegro               1
Burundi                         1
Dominica                        1
Wallis and Futuna               1
Name: Country, Length: 125, dtype: int64

In [179]:
a = df_earthquake.groupby('Country')['Total Deaths'].sum()
a

Country
Afghanistan                           12622.0
Albania                                 626.0
Algeria                                6771.0
American Samoa                           34.0
Argentina                             10476.0
                                       ...
Venezuela (Bolivarian Republic of)      423.0
Wallis and Futuna                         5.0
Yemen                                    10.0
Yemen Arab Rep                         2707.0
Yugoslavia                             1245.0
Name: Total Deaths, Length: 125, dtype: float64

In [182]:
a = df_earthquake.groupby('Continent')['Total Deaths'].sum()
a

Continent
Africa        21585.0
Americas     443261.0
Asia        1659098.0
Europe       268126.0
Oceania        6490.0
Name: Total Deaths, dtype: float64

In [190]:
a = df_earthquake.groupby('Country')['Total Deaths'].value_counts()
a

Country      Total Deaths
Afghanistan  1.0             4
             5.0             3
             11.0            2
             50.0            2
             2.0             1
                            ..
Yugoslavia   12.0            1
             15.0            1
             19.0            1
             121.0           1
             1070.0          1
Name: Total Deaths, Length: 882, dtype: int64