# DATASET DEFINITIVO

Cargar dataset : 01desastres_crudo_renamedcols.csv

Borrar las 24 columnas acordadas: criterios de utilidad para los principales desastres a estudiar

Crear nuevo dataset: 02desastres_definitivo.csv

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('../../Data/01CrudoNoEditar/01desastres_crudo_renamedcols.csv', encoding='utf-8', delimiter=';', engine='python')

In [11]:
df.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,Reconstruction Costs Adj,Insured Damages,Insured Damages Adj,Total Damages,Total Damages Adj,CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,849084409",NaN,NaN,NaN,NaN
2,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,843726.0,"2,963047785",NaN,NaN,NaN,NaN
3,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN
4,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,"2,963047785",NaN,NaN,NaN,NaN

In [12]:
df.shape

(16636, 50)

In [13]:
df.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'AID Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs', 'Reconstruction Costs Adj',
       'Insured Damages', 'Insured Damages Adj', 'Total Damages',
       'Total Damages Adj', 'CPI', 'Adm Level', 'Admin1 Code', 'Admin2 Code',
       'Geo Locations'],
      dtype='object')

In [14]:
df.drop(columns=['Glide', 'Disaster Group', 'Disaster Subsubtype', 'Event Name','Associated Dis2', 'OFDA Response', 'Appeal', 'Declaration', 'AID Contribution',
                  'Local Time', 'River Basin', 'No Injured', 'No Affected', 'No Homeless', 'Insured Damages', 'Reconstruction Costs', 'Reconstruction Costs Adj',
                'Insured Damages Adj', 'Total Damages','CPI', 'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'], inplace=True)

In [15]:
df.shape

(16636, 26)

In [17]:
df.columns

Index(['Dis No', 'Year', 'Seq', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Dis Mag Value', 'Dis Mag Scale',
       'Latitude', 'Longitude', 'Start Year', 'Start Month', 'Start Day',
       'End Year', 'End Month', 'End Day', 'Total Deaths', 'Total Affected',
       'Total Damages Adj'],
      dtype='object')

In [16]:
df.to_csv('../../Data/02ParaLimpiar/02desastres_definitivo.csv', index=False, sep=';', encoding='utf-8')