In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('../99 PRUEBAS a los CSV/01 Prueba quitando eventos/04DesNat_DEFS_limpio_fc.csv')
df.head()

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Country,ISO,Region,Continent,...,Longitude,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,Total Affected,Total Damages Adj
0,1900-9002-CPV,1900,9002,Climatological,Drought,Drought,Cabo Verde,CPV,Western Africa,Africa,...,NaN,1900,0,0,1900,0,0,11000,0,0
1,1900-9001-IND,1900,9001,Climatological,Drought,Drought,India,IND,Southern Asia,Asia,...,NaN,1900,0,0,1900,0,0,1250000,0,0
2,1902-0012-GTM,1902,12,Geophysical,Earthquake,Ground movement,Guatemala,GTM,Central America,Americas,...,-91,1902,4,18,1902,4,18,2000,0,843726
3,1904-0003-BGD,1904,3,Meteorological,Storm,Tropical cyclone,Bangladesh,BGD,Southern Asia,Asia,...,NaN,1904,11,0,1904,11,0,0,0,0
4,1905-0003-IND,1905,3,Geophysical,Earthquake,Ground movement,India,IND,Southern Asia,Asia,...,76.16,1905,4,4,1905,4,4,20000,0,812477

In [4]:
df.shape

(12826, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12826 entries, 0 to 12825
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dis No             12826 non-null  object
 1   Year               12826 non-null  int64
 2   Seq                12826 non-null  int64
 3   Disaster Subgroup  12826 non-null  object
 4   Disaster Type      12826 non-null  object
 5   Disaster Subtype   9766 non-null   object
 6   Country            12826 non-null  object
 7   ISO                12826 non-null  object
 8   Region             12826 non-null  object
 9   Continent          12826 non-null  object
 10  Location           11583 non-null  object
 11  Origin             3680 non-null   object
 12  Associated Dis     3360 non-null   object
 13  Dis Mag Value      12826 non-null  int64
 14  Dis Mag Scale      12826 non-null  object
 15  Latitude           2659 non-null   object
 16  Longitude          2659 non-null   object
 17  Start Year         12826 non-null  int64
 18  Start Month        12826 non-null  int64
 19  Start Day          12826 non-null  int64
 20  End Year           12826 non-null  int64
 21  End Month          12826 non-null  int64
 22  End Day            12826 non-null  int64
 23  Total Deaths       12826 non-null  int64
 24  Total Affected     12826 non-null  int64
 25  Total Damages Adj  12826 non-null  int64
dtypes: int64(12), object(14)
memory usage: 2.5+ MB

In [6]:
# Columnas nÃºmericas
df.select_dtypes(include=np.number).columns.to_list()

['Year',
 'Seq',
 'Dis Mag Value',
 'Start Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total Deaths',
 'Total Affected',
 'Total Damages Adj']

In [7]:
df.isnull().sum()

Dis No                   0
Year                     0
Seq                      0
Disaster Subgroup        0
Disaster Type            0
Disaster Subtype      3060
Country                  0
ISO                      0
Region                   0
Continent                0
Location              1243
Origin                9146
Associated Dis        9466
Dis Mag Value            0
Dis Mag Scale            0
Latitude             10167
Longitude            10167
Start Year               0
Start Month              0
Start Day                0
End Year                 0
End Month                0
End Day                  0
Total Deaths             0
Total Affected           0
Total Damages Adj        0
dtype: int64

In [9]:
df = {
    "Continent":['Africa', 'Asia', 'Europe', 'Americas', 'Oceania']
}

df = pd.DataFrame(data)

In [ ]:
eventos_con_mas_impacto = ["Flood", "Storm", "Earthquake", "Drought"]

df = df[df['Continent'].isin(eventos_con_mas_impacto)]

In [ ]:
label_encoder = LabelEncoder()
df['Continent_Num'] = label_encoder.fit_transform(df['Continent'])
df

In [14]:
df.head(10)

  Continent  Continent_Num
0    Africa              0
1      Asia              2
2    Europe              3
3  Americas              1
4   Oceania              4

In [15]:
df = data

In [16]:
df.head(10)

AttributeError: 'dict' object has no attribute 'head'